@font-face {
  font-family: myfonttitle;
  src: url(../fonts/title_bold.ttf);
}

@font-face {
  font-family: myfontsubtitle1;
  src: url(../fonts/sub_bold.otf);
}

@font-face {
  font-family: myfontsubtitle2;
  src: url(../fonts/sub_reguler.otf);
}

.ftitle {
  font-family: myfonttitle !important;
}

.fsub1 {
  font-family: myfontsubtitle1 !important;
}

.fsub2 {
  font-family: myfontsubtitle2 !important;
}

.text-hideng {
color: #626655;
}




*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #bbbbbb;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px !important;
}



.bg-cover1 {
  background-image: url("../images/bg_cover1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cover-harep {
  background-image: url("../images/bg_cover_harep.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cover2 {
  background-image: url("../images/bg_cover2.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cover3 {
  background-image: url("../images/bg_cover3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.bg-cover4 {
  background-image: url("../images/cover_footer.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cerita {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  
}

.over {
background-color: rgba(0,0,0,0.3);
height: 100%;
width: 100%;
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 20px;
}

i.size {
   font-size: 20px;
   
}

.bg-qobil {
background-color: #C3B59B;
color: #fff;
}

.bg-qobil2 {
background-color: #626655;
color: #fff;
}

.bg-namapengntin {
background-color: #C3B59B;
color: #fff;
border-radius: 10px;
padding: 10px;
}

.gallery-1 {
  height: 216px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  
 }
 
 .gallery-2 {
 height: 100px;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 object-fit: cover;
 
 }
 .gallery-3 {
 height: 100px;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
  object-fit: cover;
 
 }
 
 

hr.dotted {
  border-top: 3px dotted #bbb;
}

.cropper {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cropper>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    height: 35px;
    width: 35px;
    bottom: 5vh;
    left: 3vh;
    background-color: #626655;
    z-index: 1055;
    animation: animName 2s linear infinite;
    }
    
    
    @keyframes animName {
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);
    }
    }


.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-dark);
    z-index: 1055 !important;
}

.ucapan {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.ucapan::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}


/* arrow */

.arrow {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #626655;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}